* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
  padding: 1em;
  font-family: Helvetica , sans-serif;
  background: #eee;
}

#main {
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

h1,h2 {
  font-weight: 600;
}

h3 {
  font-weight: 400;
  font-style: italic;
}

h1,h2,h3,p {
  margin: 0;
  padding: 0 0 0.5em 0;
}

p:last-child {
  padding: 0;
}

article {
  padding: 1em;
  background: #fff;
  border-radius: 0.5em;
  margin: 0 auto 1em auto;
}

a {
  color: #28A;
}

#content {
  padding-bottom: 75vh;
}